#hotelCard {
    display: grid;
    gap: 20px; 
    padding: 1rem;
}

#hotelCard section {
    display: grid;
    padding: 15px;
    grid-template-columns: 400px 1fr; 
    grid-template-areas: 
        "image name"
        "image address"
        "image phone";
    gap: 10px; 
    background-color: rgb(240, 239, 239);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

#hotelCard section img {
    grid-area: image;
    width: 100%; 
    height: auto; 
    border-radius: 8px;
}

#hotelCard section h2 {
    grid-area: name;
    font-size: 1.2em; 
    color: $secondaryColor;
}

#hotelCard section p.address {
    grid-area: address;
    font-style: italic;
}

#hotelCard section p.phone {
    grid-area: phone;
    text-align: center;
    background-color: $secondaryColor;
    color: white;
    border-radius: 8px;
}

#hotelCard section p.phone a {
    color: white;
    border-radius: 8px;
    text-decoration: none;
}