/* NAVIGATION STUFF GOES HERE  */

body {
    display: block;
}

#top a, #navlinks > a {
    display: none;
}

@for $i from 1 through 12 {
    $w: calc($i /12) * 100%;
    .medium-#{$i} {flex-basis: $w;}
}

nav {
    height: auto;
    border-bottom: 1px solid $greyColor;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li a {
        border: none;
    }
    li a:hover {
        background-color: #acacac;
    }
    li.active a:hover {
        text-decoration: none;
        background-color: $secondaryColor;
        color: white;
    }
}

.parentHero {
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.5rem;
    }
}