/* NAVIGATION STUFF GOES HERE  */

nav {
    ul {
        a {
            img {display: none;}
            span {display: block;}
        }
    }
}

.card-image {
    width: 100%;
    object-fit: cover;
    padding: 20px;
    border-radius: 20px;
}

image.card-image {
    border-radius: 100px;
}

div.card-content {
    text-align: left;
}

div.card {
display: grid;
grid-template-columns: 1fr 1fr;
}