html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 

body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}

#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: flex;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center; 
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
    img {
        width: 50px;
        height: auto;
    }
} 

#theButton::before {
    content: "\2630";
}
#theButton {
    border: none;
    background: none;
    font-size: 2rem;
    padding: 0;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
#theNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li a {
        color: $primaryColor;
        display: block;
        padding: .75rem $gutter;
        text-decoration: none;
        border-bottom: 1px solid $greyColor;
    }
    li.active a {
        color: $secondaryColor;
    }
}
#theButton.open::before {
    content: "\2715"
}
#theNav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    ul {
        overflow: hidden;
    }
}
#theNav.open {
    grid-template-rows: 1fr;
}
.parentHero {
    position: relative;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    p {
        position: absolute;
        margin: 0;
        top: calc(50% - 35px);
        width: 100%;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.9) 50%, rgba(255, 255,255,0) 100%);
        padding: 1rem;
        text-align: center;
        color: black;
        font-weight: 900;
        font-size: 2rem;
    }
}

main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}

div.cards {
    padding: 0 8px;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(230px, 1fr));
    gap: 24px 8px;
    p {text-align: left;}
    button {
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 8px;
    }
    section {
        background: rgba(226, 246, 253, 0.1);
        backdrop-filter: blur(10px);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        border: 1px solid darkgrey;
        margin: 0;
        border-radius: 16px;
        padding: 1rem;
        text-align: center;
    }
    section img {
        width: 50px;
        position: relative;
        justify-content: center;
    }
    .shape {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: black 1px solid;
        margin: auto;
        background-color: red;
    }
    .bounce:hover img {animation: myBounce 1s 1;}
    .spin:hover img {animation: mySpin 1s 1;}
    .pulse:hover img {animation: myPulse 1s 1;}
    .color:hover img {animation: myColor 5s 3;}
        
        @keyframes myBounce {
            0%  {bottom:0px; animation-timing-function:ease-out;}
            25% {bottom:15px; animation-timing-function:ease-in;}
            50% {bottom:0px; animation-timing-function:ease-out;}
            75% {bottom:7px; animation-timing-function:ease-in;}
            100% {bottom:0px; animation-timing-function:ease-out;}
        }
        @keyframes mySpin {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }
        @keyframes myPulse {
            0% {transform: scale(1.0);}
            25% {transform: scale(1.5);}
            50% {transform: scale(0.75);}
            75% {transform: scale(1.25);}
            100% {transform: scale(1.0);}
        }
        @keyframes myColor {
            0% {background-color: red;}
            15% {background-color: orange;}
            30% {background-color: yellow;}
            45% {background-color: green;}
            60% {background-color: blue;}
            75% {background-color: indigo;}
            90% {background-color: violet;}
            100% {background-color: red;}
        }
}

#footerWrapper {
    background-color: $primaryColor
} 
footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: white;
    text-align: center;
    line-height: $leading;
    a {color: white;}
}

div.reviewWrapper {
background-color: rgb(247, 247, 247);
padding: 1rem;
margin-top: 25px;
}
#cars {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 8px;
    margin: 0;

}
#cars p {
    padding: 0;
}
#final {margin-left: 175px; color: black; text-decoration: none;}