$primaryColor: #2d2d2d; 
$secondaryColor: #848484;
$accentColor: #000000;
$greyColor: #ccc;

$defaultFont:'Albert Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 700;
$leading: 150%;

$gutter: 10px;