$primaryColor: #03363f; 
$secondaryColor: #1d6e7c;
$accentColor: #1d6e7c;
$greyColor: #ccc;
$menuColor: #436674;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;