$primaryColor: #083648; 
$secondaryColor: #a05e13;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont:'Afacad Flux', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$leading: 150%;

$gutter: 10px;

//end of page